<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a href="/">home</a>
<a th:href="@{|/user/${id}/rent|}">rents</a>
<a th:href="@{|/user/${id}/statistic|}">statistic</a>
<a th:href="@{|/books/all/|}">books</a>

<div class="col-md-offset-2">
    <h2>Update my info</h2>
</div>
<div>
    <form class="form-horizontal" method="post" th:object="${user}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id">ID:</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{id}" id="id" th:value="*{id}" disabled/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="first-name">First name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="first-name" th:field="*{name}" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="last-name">Last name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="last-name" th:field="*{surname}" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">E-mail:</label>
            <div class="col-sm-8">
                <input class="form-control" id="email" th:field="*{username}" type="email"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="old-password">Old Password:</label>
            <div class="col-sm-8">
                <input class="form-control" id="old-password" name="oldPassword" required type="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="old-password">New Password:</label>
            <div class="col-sm-8">
                <input class="form-control" id="new-password" required th:field="*{password}" type="password"/>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-2 control-label" for="role">Role:</label>-->
<!--            <div class="col-sm-8">-->
<!--                <select class="form-control" id="role" name="roleId">-->
<!--                        <span th:each="role : ${roles}">-->
<!--                            <option th:if="${role.id == user.role.id}" th:selected="${true}" th:text="${role.name.substring(0, 1) + role.name.substring(1).toLowerCase()}"-->
<!--                                    th:value="${role.id}"></option>-->
<!--                            <option th:text="${role.name.substring(0, 1) + role.name.substring(1).toLowerCase()}" th:unless="${role.id == user.role.id}"-->
<!--                                    th:value="${role.id}"></option>-->
<!--                        </span>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-sm-offset-2 col-sm-8">
            <input class="btn btn-info" type="submit" value="Update"/>
            <input class="btn btn" type="reset" value="Clear"/>
<!--            <input name="id" th:value="*{id}" />-->
        </div>
    </form>
</div>
<!--type="hidden"-->
</body>
</html>